.sidebar___section{
    position: absolute;
    width: 140px;
        top: 0;
        left: 0;
        z-index: 999999999;
        background: white;height: 100vh;
        height: 95vh;
        box-shadow: 0 0 5px gray;
}
.sidebar___section .header{
    padding: 10px 15px;
}
.sidebar___section .section_parent{
    padding:10px 15px;
}
.sidebar___section .section_parent:hover{
background-color: violet;
cursor: pointer;
}